URxvt.font:            xft:Hack:size=9
URxvt.boldfont:        xft:Hack Bold:size=9
URxvt.letterSpace:     -1
URxvt.scrollBar:       false
URxvt.intensityStyles: false
URxvt.fading:          0

Xft.dpi:       130
Xft.antialias: true
Xft.rgba:      none
Xft.hinting:   true
Xft.hintstyle: hintslight

#include ".Xresources.d/nord-colors"
